/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in holy-grail.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if holy-grail.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. holy-grail.css ignores its own variables in favour of
 * using your own, so you can completely modify how holy-grail.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of holy-grail.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-avalon:        true;
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         true;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override holy-grail.css’ defaults here.
 */

/*------------------------------------*\
    $Typography
\*------------------------------------*/
// $base-font-size:    	16px;
$base-line-height:  	24px;

$base-font-family:  	Raleway, Helvetica-neue, helvetica, arial, sans-serif;

/**
 * Default colour for objects’ borders etc.
 */
$base-ui-color:     	#333;
$base-spacing-unit: 	30px;


/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$body_copy: #333;


@mixin css-columns ( $count, $width: auto, $gap: $gutter ) {

	-webkit-column-gap:	$gap;
	   -moz-column-gap:	$gap;
	        column-gap:	$gap;

	   -webkit-columns:	$width $count;
	      -moz-columns:	$width $count;
	    	   columns:	$width $count;

}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

	-webkit-box-shadow:	$top $left $blur $color #{$inset};
	   -moz-box-shadow:	$top $left $blur $color #{$inset};
	        box-shadow:	$top $left $blur $color #{$inset};

}

@mixin trasition($property, $duration:0.3s, $function: ease-out){

	-webkit-transition:	$property $duration $function;
	   -moz-transition:	$property $duration $function;
	     -o-transition:	$property $duration $function;
            transition:	$property $duration $function;

}

/*___________________________________________________________________________________
 *	And that's all, folks. Ready to go.											   */