/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in holy-grail.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if holy-grail.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. holy-grail.css ignores its own variables in favour of
 * using your own, so you can completely modify how holy-grail.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of holy-grail.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-avalon:        true;
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         true;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override holy-grail.css’ defaults here.
 */
// $base-spacing-unit: 	24px;
$grid-gutter: 			45px;
$brand-round:			10px;

/* Typography */
// $base-font-size:    	16px;
$base-line-height:  	24px;
$base-font-family:  	Raleway, Helvetica-neue, helvetica, arial, sans-serif;
$brand-face:			Bitter, Georgia, "Times new roman", serif;

/* Color */
$base-ui-color:     	#e5e5e5;
$brand-color:			#4a8ec2;


/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/

/* Color */
$body-copy: 			#444;
$highlight: 			#f43059;
$white: 				#f7f7f7;


/*___________________________________________________________________________________
 *	And that's all, folks. Ready to go.
 */