.social-media__icon {
	text-decoration: 			none;
	color: 						$body_copy;
	margin-right: 				ceil($base-spacing-unit/2);

	@include font-size(24px);
}

.avatar {
	@include vendor(border-radius, 500px);
}