/************************************************************************************
	CHAINING THE MAGIC TOGHETER
	Importing the core stuff.
	
************************************************************************************/

@import 'sass/normalize';
@import 'sass/vars'; 
@import 'sass/grid';


/************************************************************************************
	OOCSS OBJECTS
	You gonna use 'em again and again...
	
************************************************************************************/

/* ====== media ====== */
.media { margin: 0; }
.media, .bd { overflow:hidden; _overflow: visible; zoom:1 }
.media .img { float: left; margin-right: $gutter }
.media .img img { display: block; width:100% }
.media .imgExt { float:right; margin-left: $gutter }

/* 	USAGE:
	
	<div class="media">

		<a href="" class="img">
			<img src="" alt="">
		</a>

		<div class="bd">
			<!-- Stuff -->
		</div>

	</div>
*/

/* ====== island ====== */
.island {
  padding: 1.5em 2*($gutter/3) 1.88em;
  margin-bottom: 1.5em;
  
  & > :last-child{
    margin-bottom: 0;
  }
}


/* ====== nav ====== */
.nav {
    list-style:none;
    margin-left:0;

    & > li, & > li > a {
		display:inline-block;
		*display:inline;
		zoom:1;
    }
}

/* ====== special ====== */
.special, .bar {
	background: $brandcolor2;
	color: $textcolor2;
	@include box-shadow(0, 4px, 5px, rgba(#333,.2));
	
	a {
		color: $textcolor2; 
		text-decoration: none;
		border-bottom: 1px dotted rgba($textcolor2, .5);
		font-weight: 300;
		
		&:hover {
			color: $textcolor2; 
			border-bottom: 1px dotted $textcolor2;
		}
	}
	
}


/* ====== bar ====== */
.bar {

	p { margin: 0 }
	
	strong { display:block }
	
	.info {
		@include column(1);
	}
	
	.andamento {
		@include column(1);
		margin-top: 0.75em;
		margin-left: $gutter/2;
		padding: 0.75em 1.13em;
		background: darken($brandcolor2, 10%);
		text-align: right;
	}
	
	&.fit{ width: 85% }
	&.fatec{ width: 50% }
}

/* ====== sprites ====== */
.sprite-social {
	background: url('../img/sprite-social.png') no-repeat;
	width: 36px; height: 36px;
	margin-right: $gutter/4;
	overflow: hidden;
	text-indent: -9999px;
}

.linkedin {		background-position: 0 0; }
.behance {		background-position: 0 -36px; }
.deviantart {	background-position: 0 -72px; }
.facebook {		background-position: 0 -108px; }
.twitter {		background-position: 0 -144px; }



/************************************************************************************
	$DEFAULT VALUES
	tags and stuff
	
************************************************************************************/

body {
	background: darken($brandcolor1, 15%);
	color: $textcolor1;
	font: normal 0.88em/1.3 Raleway, Helvetica-neue, helvetica, arial, sans-serif;
	margin:0
}

ul, li { margin: 0; padding: 0; list-style: none }

p, time { margin-top: 0; margin-bottom: 1.25em }

time { font-size: 0.74em; }

hr {  
	border: none;
	border-bottom: 1px solid darken($bgcolor, 8%);
	padding-bottom: 1.5em;
	margin-bottom: 0.75em;
	box-shadow: 0 1px 0 lighten($bgcolor, 10%);
}


/************************************************************************************
	$TYPOGRAFY
	Sweet, sweet, sexy types
	
************************************************************************************/

h1, h2, h3, h4 {
	color: darken($brandcolor1, 30%);
	font-family: Bitter, Georgia, 'Times new roman', serif;
	font-weight: 700;
	margin: 0 0 1.5em
}

hgroup {
	margin-bottom: 1.5em;
	
	h1, h2, h3 { margin-bottom: 0.22em }
}

.special {
	h1, h2, h3, h4 { color: $textcolor2 }
}

h1 {
	font-size: 2.13em;	/* 34px */
	line-height: 1.06;	/* 36px */
}

h4 { font-weight: 400 }

.beta {
	font-size: 1.25em;		/* 20px */
	line-height: 1.2em;		/* 24px */
	margin-top: 1.88em;		/* 30px */
	margin-bottom: 1.5em;	/* 24px */
}

.header__subtitle, .article__subtitle, .links__subtitle {
	font-style: italic;
	color: darken($brandcolor1, 20%)
}

a {
	color: darken($brandcolor1, 10%); 
	text-decoration: none;
	font-weight: bold;
	
	&:hover {
		color: darken($brandcolor1, 30%);
	}
}

.article > p:first-child, em, time {
	font-family: Bitter, Georgia, 'Times new roman', serif;
	font-weight:400;
	font-style:italic;
}


/************************************************************************************
	STYLE IT YOUR WAY
	Go ahead, it's all good.
	
************************************************************************************/

.grid { @include grid(); }
.header, .content { @include column(1); }

.page {
	background:$bgcolor;
	margin: 0;
	padding: $navbar-height*2 $gutter/2 2.25em;
	overflow: hidden;
	@include box-shadow(0, 4px, 15px, rgba(#333,.2));
}


/********** header ************/

.avatar { display:none; }

.header { 
	margin-bottom: 2.25em;
}

.disponivel {
	font-family: Bitter, Georgia, "Times new roman", serif;
	color: $textcolor2;
	background: $highlightcolor;
	display:inline-block;
	padding: 0.75em 1.88em;
	border-radius: 10px;
	@include box-shadow(0, 2px, 5px, rgba(#333,.2));
	
	&:hover { color: $textcolor2; }
}


/********** navbar ************/

.navbar {
	position: fixed;
	top:0; left:0;
	z-index:10; 
	width: 100%;
	text-align: right;
	letter-spacing: normal;
	word-spacing: normal;
	
	@include box-shadow(0, 4px, 5px, rgba(#333,.2));
}

.navbar__list {
	text-align:right;
	line-height: 1.88em;
	height: $navbar-height;
	padding: 0 $gutter/2;
	overflow:hidden;
	@include column(1);
	
	li { 
		display:block;
		margin-top:-1px;
	}
	
	a {
		width:100%;
		text-align:center;
		font-size: 1.14em;
	}
}

.navbar--open {
	height: $navbar-height * 7;
	@include trasition(height);
}


/********** links ************/

.links {
	margin-top: -0.75em;
	@include column(1);
}

.links__title {
	font-size: 1.38em;		/* 22px */
	line-height: 1.09;		/* 24px */
}

.links__list {
	margin-bottom: 1.5em;
		
	li {
		margin-bottom: 0.38em;
		
		display:inline;
		
		&:after {
			content: ", ";
		}
		
		&:last-child:after {
			content: ". ";
		}
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}


/********** content ************/

.content { margin-bottom: 1.88em }


/********** footer ************/

.footer {
	width: 100%;
	@include box-shadow(0, 0, 15px, rgba(#333,.4));
	
	.page {
		background:transparent;
		@include box-shadow(0, 0, 0, rgba(#333,.0));
		padding-top: 1.88em;
	}
}


.footer__info{
	@include column(1);
	margin-bottom: 1.88em;
	
	a { 
		display: block;
		margin-bottom: 0.75em;
		padding-bottom: 0.38em
	}
}

.footer__title {
	margin-bottom: 0.5em;
}

.footer__side {
	@include column(1);
	
	h3 {
		margin-bottom: 0.75em;
		margin-top: 0.2em;
		line-height: 1.92em;
	}
	
	li { display: block }
	
}

.footer__copy {
	margin-top: 3.38em;		/* 54px */
	font-size: 0.88em;		/* 14px */
	text-align: center;
	color: lighten($brandcolor2, 20%);
	@include column(1);
}









